extends layout
block content
	if alert=="success"
		div.alert.alert-success New manager successfully added.
	if alert=="error"
		div.alert.alert-danger An error occured,new manager not added.
    form(method="POST" action='/bayoffice/manager')
        div.form-row
            div.col.form-group
            	input.form-control(placeholder='First Name' name='fname')
            div.col.form-group
            	input.form-control(placeholder='Last Name' name='lname')
        div.form-row
            div.col.form-group
            	input.form-control(placeholder='Phone Number' name='phone')
        div.form-row
            div.col.form-group
            	input.form-control(placeholder='Email(optional)' name='email')
            div.col.form-group
                input.form-control(placeholder='Username' name="username")
            div.col.form-group
                input.form-control(placeholder='Create Password' type="password" name="password")
        div.form-row
            div.col.form-group
                button.btn.btn-primary.btn-block Add Manager 
                

                            