extends layout
block content
    if alert=="success"
        div.alert.alert-success Expense added successfuly.
    if alert=="error"
        div.alert.alert-danger An error occured, failed to add expense.
    form(method="POST" action='/bayoffice/expenses')
        div.form-row
            div.col.form-group
                label Date of Entry
                input.form-control(name='doe' type='Date')
        div.form-row
            div.col.form-group
                label Item
                select.form-control(name="item")
                    option(value="polish")  Polish
                    option(value="detergent") Powdered detergents
                    option(value="electricity") Electricity units
        div.form-row
            div.col.form-group
                label Amount
                input.form-control(type="number" name="amount")
        div.form-row
            div.col.form-group
                button.btn.btn-primary.btn-block Add Expense
                

                            