link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
div.col
form(action='/bayoffice/home' method='GET')
  a(href='/bayoffice/vehicle') Register Vehicle
    .Opt.shadow
      div
        img(src='wash2.jpeg' alt='')
        span.rating
      .name2 Shoprite
  a(href='/bayoffice/washer') Add Washer
    .Opt.shadow.
      div
        img.display(src='../pictures_icons/pizza hut.png' alt='')
        span.rating
      .name2 Pizza Hut
  a(href='/bayoffice/expenses') Add Expenses
    .Opt.shadow
      div
        img.display(src='../pictures_icons/kfc.png' alt='')
        span.rating
      .name2 KFC
  a(href='/bayoffice/manager') Add Manager
    .Opt.shadow.
      div
        img.display(src='../pictures_icons/quality.jpeg' alt='')
        span.rating
      .name2 Quality Supermarket
