extend layout

block content
    header.card-header
      div.float-left
        h3
          strong Zawash
            h6= title
    p nnmmjn
    br
    h3 How it works.
    button.btn.btn-primary Get Started