link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
header.card-header(style='background-image:linear-gradient(to top left,#0066ff,#86cefa)')
	h3
		strong Zawash
		h6= title
div.row.justify-content-center
	form(action='/register' method='GET')
		button.btn.btn-primary Get Started