link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
header.card-header(style='background-image:linear-gradient(to top left,#0066ff,#86cefa)')
	h3
		strong Zawash
		h6=title
form(method='POST' action='/home/login')
	div.form-row
		div.col.form-group
			input.form-control(placeholder='Username' name='username')
		div.col.form-group
	div.form-row
		div.col.form-group
				input.form-control(placeholder='Password' name='pass')
	div.form-row
		div.col.form-group
		button.btn.btn-primary(type='button') Login
	div.form-row 
		a(href='') Forgot Password
		span
		p Dont have ann account?
		div.float-right
			a(href='/register') Sign up