extends layout
block content
	form(method='POST' action='/payout')
		tr
			th Washer Name
			th Number of cars
			th Payout Amount
		tbody
			if washers.length
				each washer in washers
					tr
						td #{washer.details[0].username}
						td #{washer.count}
						td #{washer.totalPayout}
					tr
						th Total Payout
						td #{new Intl.NumberFormat().format(sumPayout.totalPayoutDaily)}
