extends layout
block content
    if alert=="success"
        div.alert.alert-success Vehicle registered successfully.
    if alert=="error"
        div.alert.alert-danger an errror occured, failed to register vehicle.
    div.float-left
        form(method="POST" action='/bayoffice/vehicle')
            div.form-row
                div.col.form-group
                    input.form-control(placeholder='Number Plate' name="numberplate" type='text')
            div.form-row
                div.col.form-group
                    label Date of arrival
                        input.form-control(type="date" name="doa")
                div.col.form-group
                    label Time of arrival
                        input.form-control(type="time" name="toa")
            div.form-row
                div.col.form-group
                    input.form-control(placeholder='Make' name="make")
                div.col.form-group
                    input.form-control(placeholder='Color' name="color")
                div.col.form-group
                    label Washer
                        select.form-control(name="washer")
                            each washer in washers
                                option(value=washer._id) #{washer.fname +''+ washer.lname}
                div.col.form-group
                    label Package
                        select.form-control(name="package")
                            option(value="smallcars(")  Small cars(10,000/=)
                            option(value="medium") Medium(15,000/=)
                            option(value="fullwash") Full wash(20,000/=)
                            option(value="bodaboda") Boda-boda(5,000/=)
                            option(value="engine") Engine(10,000/=)
            div.form-row
                div.col.form-group
                    button.btn.btn-primary.btn-block Register Vehicle
    div.float-right
        div.form-row
            h3
                strong Wash Packages

            table.table.table-bordered 
                thead
                    tr
                        th Package
                        th Price
                        th Washer Fee
                tbody
                    tr
                        td Small cars
                        td 10000/=
                        td 3000/=
                    tr
                        td Medium
                        td 15000/=
                        td 4000/=
                    tr
                        td Full wash
                        td 20000/=
                        td 5000/=
                    tr
                        td Boda-boda
                        td 5000/=
                        td 1500/=
                    tr
                        td Engine
                        td 10000/=
                        td 2000/=
                

                            