extends layout
block content
    header.card-header
        h3
            strong Zawash
        strong=title
        br
    nav
    #nav-tab.nav.nav-tabs(role='tablist')
        a#nav-contact-tab.nav-item.nav-link.active(href='/register/washer')  Add Washer
        a#nav-profile-tab.nav-item.nav-link(href='/register/vehicle')  Add Vehicle
        a#nav-contact-tab.nav-item.nav-link(href='/register/manager')  Add Manager
        a#nav-profile-tab.nav-item.nav-link(href='/register/expenses')  Add Expenses
    #nav-tabContent.tab-content
        br
        form(method="POST" action='/register/washer')
            div.form-row
                div.col.form-group 
                    input.form-control( placeholder="Full Name" name="fullname")
            div.form-row
                div.col.form-group
                    input.form-control(placeholder='NIN' name="nin")
                div.col.form-group
                    input.form-control( placeholder='PhoneNumber' name="phone")
                div.col.form-group
                    select.form-control(name="gender")
                        option(value="male") Male
                        option(value="female") Female
            div.form-row
                div.col.form-group
                    input.form-control(placeholder="Place of Residence" name="residence")
            div.form-row
                div.col.form-group
                    button.btn.btn-primary.btn-block Register 
                

                            