doctype html
html(lang='en')
	head
		title=title
		script(
		src='validation.js'
		)
		link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
	body
		header.card-header(style='background-image:linear-gradient(to top left,#0066ff,#86cefa')
			div(style='color=black').float-right
				a(href='/') Home
			h3
				strong Zawash 
				h6=title
		form(method='POST' action='/register')
			div.form-row
				div.col.form-group
					input#fname.form-control(type='text' placeholder='First Name' name='fname')
				div.col.form-group
					input#lname.form-control(type='text' placeholder='Last Name' name='lname') 
			div.form-row
				div.col.form-group
					input#phone.form-control(type='number' placeholder='Phone Number' name='phone')
			div.form-row
				div.col.form-group
					input#email.form-control(type='text' placeholder='Email(optional)' name='email')
			div.form-row
				div.col.form-group
					select.form-control(data-toggle='select' name='origin')
						option(value="Ugandan") Ugandan
						option(value="Foreigner") Foreigner
				div.col.form-group
					input#nin.form-control(type='number' placeholder='NIN' name='nin')
			div.form-row
				div.col.form-group
					input#username.form-control(type='text' placeholder='Username' name='username')
			div.form-row
				div.col.form-group
					input#pass.form-control(type='text' placeholder='Password' name='password')
				div.col.form-group
					input#pass_cofirm.form-control(type='text' placeholder='Confirm Password' name='password_confirm')
			div.form-row
				div.col.form-group
					button.btn.btn-primary Create Account 
				p Already have an account.
				a(href='/home/login')  Sign in
	footer
		div.row
			p Find us along Mawanda Rd, 
			p &copyAir Solutions, 2021


